:root{
    --background: #090011;
    --active-text: #f1f1f1;
    --deactive-text:#151515;
    --sectionBack:#130e17;
    --search-box:hsl(0, 0%, 20%, 0.5);

}

html{
    background-color: var(--background);
    margin-left: 60px;
    margin-right: 60px;
    /* background-image:url(../Images/Background.jpg);
    background-position: right;
    background-size: 100%; */
}

.logo{
    border-color: solid var(--background);
    display: inline-block;
    margin-left: 20px;
    
}

#search-box{
    /* margin: 50px; */
    color: var(--active-text);
    /* display: inline-block; */
    justify-content: flex-end;
    flex-wrap:wrap;
    float: right;
    background-color:var(--search-box);
    border: var(--search-box);
    border-radius: 100px;
    height: 40px;
    width: 1500px;
    font-size: 20px;

}


.header-parents{
    display: flex;
    align-items: center;

}

.search-bar{
    justify-content: flex-end;
    flex-wrap:wrap;
    float: right;
    display: flex;
    align-items: center;
}

.search-bar input{
    background: transparent;
    float: left;
    flex: 1;
    border: 0;
    outline: none;
    padding: 8px 20px;
}

.search-bar button img{
    width: 35px;
    
}
.search-bar button {
    float: left;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: var(--search-box);
    cursor: pointer;
}

aside .aside-bar{
    display:flex ;
    background-color: var(--sectionBack);
    width: 500px;
    height: 400px;

}