
:root{
    --background: #090011;
    --active-text: #cecece;
    --deactive-text:#151515;
    --sectionBack:#1a151da8;
    --sectionBackHover:hsla(273, 33%, 19%, 0.66);
    --search-box:hsl(0, 0%, 20%, 0.5);
    --pop-up:hsl(258, 24%, 14%);

}

*{
    font-size: 18px;
}

p{
    margin: 10px
}

html{
    background-color: var(--background);
    margin-left: 60px;
    margin-right: 60px;
    color: var(--active-text);
    /* background-image:url(../Images/Home\ Page\ \(1\).svg); */
    background-position: right;
    background-size: 100%;
}

/* deactive materialize design  */
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: none;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: none;
    box-shadow: none;
}


.header-parents{
    display: flex;
    align-items: center;
}

.logo-container{
    width: 500px;
}

.logo{
    border-color: solid var(--background);
    display: inline-block;
    margin-left: 20px;
    justify-content: space-between;
}

.search-bar{
    display: flex;
    flex-wrap:wrap;
    align-items: center;    
    justify-content: space-between;
    float: right;
    background-color:var(--search-box);
    border: var(--search-box);
    border-radius: 100px;
    height: 50px;
    width: 100%;
    font-size: 20px;
}

.search-box{
    color: var(--active-text);
    background: transparent;
    float: left;
    flex: 1;
    border: 0;
    outline: none;
    padding: 8px 30px;

}


#search-button{
    float: right;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: transparent;
    background: var(--search-box);
    cursor: pointer;
    margin-right: 10px;
}

.icon{
    float: right;
    border: 0;
    width: 30px;
    height: 35px;
    background: transparent;
    cursor: pointer;
}

.home-icon{
    width: 23px;
    margin-right: 4px;
}

main{
    display: flex;
    flex-wrap: nowrap;
}

.cards{
    flex: 70%;
    padding: 20px;
    height: 700px;    
}

.aside-bar{
     flex: 0 0 200px;
     background-color: var(--sectionBack);
     padding: 20px;
     border-radius: 15px;
     border-radius: 20px;
     margin-right: 30px;
    
}

.hover{
    display: flex;
    align-items: center;
}

.hover:hover{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: var(--sectionBackHover);
    border-radius: 5px;
}

.aside-button{
    width: 40px;
    height: 40px;
    float: left;
    border: 0;
    border-radius: 15px;
    background: var(--sectionBack);
    cursor: pointer;
}

.playlist-list{
    display: flex;
    align-items: center;
}
.playlist-list:hover{
    display: flex;
    align-items: center;
    background-color: var(--sectionBackHover);
    border-radius: 5px;
    
}

.user-playlist-name{
    margin: 10px;
    width: 280px;
}

#playlist-name{
    margin-left: 10px;
    width: 280px;
}

#user-playlists{
    display: flex;
    flex-direction: column;
}

.user-playlist{
    background-image: url(../Images/playlist\ \(1\).svg);
    width: 40px;
    height: 40px;
    float: left;
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
    margin: 5px;
}

.delete-playlist-btn{
    background-image: url(../Images/delet-btn\ \(2\).svg);
    height: 18px;
    width: 18px;
    float: right;
    border: 0px;
    background-position: center;
    cursor: pointer;
    background-size: 90%;
    margin: 5px;
    margin-right: 10px;
}

.results-container{
    display: flex;
    flex: 5;
}

.results{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-result-card{
    display:inline;
    background-color: var(--sectionBack);
    width: 250px;
    height: 400px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

.search-result-card:hover{
    display:inline;
    background-color: var(--sectionBackHover);
    width: 250px;
    height: 400px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

.resultImg{
    width: 230px;
    margin-left: 4%;
    margin-top: 5%;
    border-radius: 15px;
}

.resultTitle{
    width: 220px;
    height: 50px;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 15px;
}

/* Add song button */
.add-song {
    background-image:url(../Images/add-btn\ \(1\).svg);
    border-radius: 60px;
    width: 40px;
    height: 40px;
    border: none;
    background-size: 100%;
    background-position: center;
    background-size: 100%;
    position: relative;
    top: 70px;
    left: 200px;
}

.add-song:hover {
    background-image:url(../Images/add-btn-hover.svg);
    border-radius: 50px;
    width: 43px;
    height: 43px;
    border: none;
    background-size: 100%;
    position: relative;
    top: 70px;
    left: 200px;
   
}

.resultArtist{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: -50%;
    font-size: 14px;
}

.audioPreviewSearch{
    width: 230px;
    height: 30px;
    margin-left: 4%;
    position: relative;
    bottom: 25px;
}

/* .playlistTitle{} */

.resultsContainer{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.songCard{
    display:inline;
    background-color: var(--sectionBack);
    width: 250px;
    height: 400px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

.songCard:hover{
display:inline;
background-color: var(--sectionBackHover);
width: 250px;
height: 400px;
align-items: center;
margin-bottom: 20px;
border-radius: 20px;
}

.songImg{
    width: 230px;
    margin-left: 4%;
    margin-top: 5%;
    border-radius: 15px;
}

.songTitle{
    width: 220px;
    height: 50px;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 15px;
}

.songArtist{
    width: 230px;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: -50%;
    font-size: 14px;
}

.audioPreviewPlaylist{
    width: 230px;
    height: 30px;
    margin-left: 4%;
    position: relative;
    bottom: 25px;
    
}

.delete-song{
    background-image:url(../Images/ic_round-close\ \(4\).svg);
    border-radius: 60px;
    width: 35px;
    height: 35px;
    border: none;
    position: relative;
    bottom: 270px;
    left: 210px;
    position: 250px 400px;
    background-size: 120%;
    background-position: center;
    cursor: pointer;
}

.delete-song:hover{
    background-image:url(../Images/ic_round-close\ \(6\).svg);
    border-radius: 60px;
    width: 35px;
    height: 35px;
    border: none;
    position: relative;
    bottom: 270px;
    left: 210px;
    position: 250px 400px;
    background-size: 120%;
    background-position: center;
    cursor: pointer;
}

/* Home page */

#dashboard{
   flex: 70%;
}

.topTracks{
    flex: 70%;
    justify-content: space-between;
}

.topTracks-card{
    background-color: var(--sectionBack);
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    border-radius: 20px;
}
.topTracks-card:hover{
    background-color: var(--sectionBackHover);
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 20px;
}

.topTracksImg{
    background: black;
    width: 50px;
    margin-left: 15px;
    margin-top: 8px;
    border-radius: 5px;
   
}

.topTracksTitle{
    position: relative;
    font-size: 18px;
    width: 250px;
    bottom: 70px;
    left: 400px;
    
    
} 

.topTracksArtist{
 position: relative;
 bottom: 140px;
 margin-left: 80px;
 width: 200px;
 margin-top: 50px;
}

.audioPreviewTopTracks{
 position: relative;
 float: right;
 height: 30px;
 bottom: 150px;
 margin-right: 15px;
 margin-top: -30px;
}

.hero-Img{
    width: 1300px;
}


@media screen and (max-width: 768px) {
    .header-parents{
      flex-direction: column;
      align-items: center;
      margin: 1px
    }

    .logo-container{
        margin-left: 60%;
    }

    .search-bar{
      flex-direction: column;
      align-items: center;
        margin-bottom: 20px;
    }

  }

